/* src/components/App.css */
.app {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, #27272a, #18181b);
}
figure {
  margin-bottom: 10%;
}
figcaption {
  font-family: monospace;
  font-weight: bold;
  font-size: x-large;
  text-align: center;
  color: gray;
}
footer {
  color: gray;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: #18181b;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer:hover {
  background-color: #27272a;
}
